---
- name: Get latest ROS APT source version
  uri:
    url: "{{ros_apt_source_api}}"
    method: GET
    return_content: yes
  register: ros_apt_source_api_response
  run_once: true
  
- name: Set ROS APT source version
  set_fact:
    ros_apt_source_version: "{{ ros_apt_source_api_response.json.tag_name }}"
  run_once: true

- name: Install dependencies for setting up sources
  apt:
    name: "{{ packages }}"
    update_cache: yes
    state: present
  become: true
  vars:
    packages:
    - wget
    - software-properties-common

- name: Debug URL components
  debug:
    msg:
      - "Base URL: {{ ros_apt_source_url }}"
      - "Version: {{ ros_apt_source_version }}"
      - "Distribution: {{ ansible_distribution_release }}"
      - "Full URL: {{ ros_apt_source_url }}/{{ ros_apt_source_version }}/ros2-apt-source_{{ ros_apt_source_version }}.{{ ansible_distribution_release }}_all.deb"

- name: Download ROS2 APT source package
  get_url:
    url: "{{ ros_apt_source_url }}/{{ ros_apt_source_version }}/ros2-apt-source_{{ ros_apt_source_version }}.{{ ansible_distribution_release }}_all.deb"
    dest: "/tmp/ros2-apt-source.deb"

- name: Install ROS2 APT source package
  apt:
    deb: "/tmp/ros2-apt-source.deb"
  become: true

- name: Update apt cache after adding ROS repository
  apt:
    update_cache: yes
    cache_valid_time: 0
  become: true

- name: Upgrade all packages to resolve dependency conflicts
  apt:
    upgrade: dist
    update_cache: yes
  become: true
  when: device_type == 'turtlebot'

# sudo apt install ros-<distro>-ros-base
- name: "Install ROS 2 {{ ROS_DISTRO | capitalize }} ({{ ros2_configuration }})"
  apt:
    name: "{{ packages }}"
    state: present
    update_cache: yes
  become: true
  vars:
    packages:
      - "{{ 'ros-' + ROS_DISTRO + '-' + ros2_configuration }}"



# # echo "source /opt/ros/<distro>/setup.bash" >> ~/.bashrc
# - name: Update .bashrc with /opt/ros/<ros_distribution>/setup.bash
#   lineinfile:
#     path: /home/{{ ros2_user.name }}/.bashrc
#     line: source /opt/ros/{{ ros2_distribution }}/setup.bash

# # echo "export ROS_DOMAIN_ID=<your_domain_id>" >> ~/.bashrc
# - name: Update .bashrc with ROS_DOMAIN_ID
#   lineinfile:
#     path: /home/{{ ros2_user.name }}/.bashrc
#     line: export ROS_DOMAIN_ID={{ ros2_domain_id }}

# # sudo apt install python3-argcomplete
# - name: Install argcomplete (optional)
#   apt:
#     name: python3-argcomplete
#   when: install_argcomplete

# - name: Install colcon to build packages
#   apt:
#     name: python3-colcon-common-extensions
