---
# Install ROS2 packages task

- name: Install development tools and ROS tools
  apt:
    name: "{{ packages }}"
    state: present
  become: true
  vars:
    packages:
      - ros-dev-tools
      - python3-colcon-common-extensions
      - ros-{{ ROS_DISTRO }}-rqt*

- name: Set ROS2 packages list based on device type
  set_fact:
    ros2_packages: "{{ ros2_packages_turtlebot if device_type == 'turtlebot' else ros2_packages_workstation }}"

- name: Install ROS2 Packages
  apt:
    name: "{{ packages }}"
    state: present
    update_cache: yes
  become: true
  vars:
    packages: "{{ 'ros-' + ROS_DISTRO + '-' + item }}"
  with_items: "{{ ros2_packages }}"
